/* -----LAYOUT----- */

* {
	box-sizing: border-box; /* check prefixes, this will make the border be included in the width of an element */
	margin:0;
	padding:0;
}

@font-face {
	font-family: scriptHead;
	src: url(/fonts/dancingscript.ttf);
}

@font-face {
	font-family: bodyText;
	src: url(/fonts/champagne&limousines.ttf);
}

@font-face {
	font-family: navText;
	src: url(/fonts/alpacascarlett.ttf);
}

html {
	height:100%;
	background-color:black;
} 

body {
  font-family: bodyText;
  margin:0 auto;
  font-weight: 400;
  line-height: 1.5;
  height:100%;
  color: black;
  font-size: 16px;
}

p {
	margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 0 0 .25em 0;
  font-weight: inherit;
  line-height: 1.2;
  text-align:center;
  font-family: scriptHead;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {font-size: 1.728em;
	}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.833em;}

a {
	color:red;
	text-decoration:none;
}

a:hover {

}

a.button-link {
  background-color:#F16F89;
  color:black;
  font-family:scriptHead;
  font-size:1em;
  text-align:center;
  border-radius:2px;
  padding: .25em .5em;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, .5);
  border: 1px solid black;
  font-size: 1.5em;
}

.button-style {
	text-align:right;
	margin: 0 auto .7em auto;
	max-width:75%;

}

.container {
	max-width: 80%; /* max-width will scale to the browser, while just `width` will always be the value */
	margin: 0 auto; /* or margin: 0 auto; -- both will center a block element on a page or in a container */
}


hr {
	color:black;
	background-color:black;
	height:1.5px;
	border:1px solid black;
	box-shadow: 1.75px 1.5px 6px 1px rgba(0, 0, 0, .35);

}



#wrap {
	min-height:100%;
}

#main {
	overflow:auto;
	padding bottom:180px;
	background-color:#FAF1CD;
	min-height:800px;
}


@media (max-width:1050px){
	.container {
		transition: max-width .5s ease;
		max-width:90%;
		margin:none;
	}
}

@media (max-width:600px){
	.container {
		transition: max-width .5s ease;
		max-width:100%;
	}
}



/*-------- HEADER ---------*/

.site-header {
	text-align:center;
}

@media (max-width:450px){
	.hero-img{
		display:none;
	}
}
.site-title {
}

.site-logo {
	max-width:200px;
	margin: 0 auto -5.1em auto;
}

.site-title:hover {
	text-decoration:underline;
}

.header-image {
	max-width:100%;
	margin: -1.5em auto 0 auto;
	float: left;
}


/* -----NAVIGATION----- */

.navbar {
  	clear: both;
  	background-color:#FAF1CD;
  	padding: .5em;
}

.header-nav li {
	display: inline-block;
	margin-bottom:.5em;
}

.nav-link {
	font-family:navText;
	font-size:.8em;
	padding:.25em 1em;
	color:black;
	margin-right:.5em;
	margin-left:.25em;
	text-decoration:none;
	display:block;
}

.nav-link:hover {
	background-color:white;
	color:#005252;
	transition: all 1s ease;
}

.nav-link.active {
	text-decoration:underline;
}

.nav-link.active:hover {
	background-color:white;
	color:#005252;
}


/* -----HOMEPAGE----- */
.homepage-promos {
	max-width:90%;
	margin:1em auto 0 auto;
}

/* This media query is used for responsive table design */

@media(max-width:900px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		transition: display 1s ease;
		display: block; 
	}
	
	td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}

td  {
	padding:1em 0;
	text-align:center;
	max-width:100%;
}

.promo-blurb {
	text-align:left;
	margin: 0 auto .7em auto;
	text-indent:.5em;
	max-width:75%;
}

@media (max-width:737px) {
	.promo-blurb {
		transition: max-width 1s ease;
		max-width:90%;
	}
}

.homepage-image {
	max-width: 100%;
	margin:0 auto;
	display:block;
}

.table-wrap {
	display:block;
}


/* -----COLUMNS----- */

@media (min-width:620px){

.col {
	float: left;
	width: 33.33%;
	padding:.4em;
}
}

.content-columns {

}

.col {
	text-indent:1em;
}

.col-head {
	text-align:center;
}

#site-footer {
	position:relative;
	margin-top:0;
	height:180px;
	background-color:black;
	position:relative;
	padding:2em 0;
	color:white;
	clear:both;
}

/* -----UTILITIES----- */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
