* {
	box-sizing: border-box; /* check prefixes, this will make the border be included in the width of an element */
	margin:0;
	padding:0;
}

@font-face {
	font-family: scriptHead;
	src: url(/fonts/dancingscript.ttf);
}

@font-face {
	font-family: bodyText;
	src: url(/fonts/champagne&limousines.ttf);
}

@font-face {
	font-family: navText;
	src: url(/fonts/alpacascarlett.ttf);
}

html {
	height:100%;
} 

body {
  font-family: bodyText;
  margin:0 auto;
  font-weight: 400;
  line-height: 1.5;
  height:100%;
  color: #333;
  font-size: 16px;
}

p {
	margin-bottom: 1.3em;
	max-width: 35em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {font-size: 1.728em;
	}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.833em;}

a {
	color:red;
	text-decoration:none;
}

a:hover {

}


/* -----LAYOUT----- */

.container {
	max-width: 900px; /* max-width will scale to the browser, while just `width` will always be the value */
	margin: 0 auto; /* or margin: 0 auto; -- both will center a block element on a page or in a container */
}

#wrap {
	min-height:100%;
}

#main {
	overflow:auto;
	padding bottom:180px;
}

@media (max-width:1050px){
	.container {
		padding-left:1em;
		padding-right:1em;
	}
}

/*-------- HEADER ---------*/

.site-header {
	padding:1em 0;
}


@media (max-width:450px){
	.hero-img{
		display:none;
	}
}
.site-title { 
	text-align:center;
	float:middle;
	margin: 0 auto;
}

.site-logo {
	max-width:200px;
	max-height:80px;
}

.site-title:hover {
	text-decoration:underline;
}


/* -----NAVIGATION----- */

.header-nav {
	list-style: none;
	margin: 0;
	margin-top:.3em;
	padding: 0;
}

.header-nav li {
	/*display: inline-block;*/
	margin-bottom:.5em;
}

@media (min-width:620px){
	.header-nav li {
		display:inline-block;
	}
	.navbar {
	float:middle;
	margin: 0 auto;
	clear:both;
}
	.site-title {
		float:left;
	}
}

.nav-link {
	font-family:navText;
	padding-left:.5em;
	padding-right:.5em;
	padding-top:.25em;
	padding-bottom:.25em;
	color:black;
	margin-right:.5em;
	margin-left:.25em;
	text-decoration:none;
	display:block;
}

.nav-link:hover {
	background-color:white;
	color:#005252;
	transition: all 1s ease;
}

.nav-link.active {
	text-decoration:underline;
}

.nav-link.active:hover {
	background-color:white;
	color:#005252;
}


/* -----COLUMNS----- */

@media (min-width:620px){

.col {
	float: left;
	width: 33.33%;
	padding:.4em;
}
}

.content-columns {

}

.col {
	text-indent:1em;
}

.col-head {
	text-align:center;
}

#site-footer {
	position:relative;
	margin-top:0;
	height:180px;
	background-color:#005252;
	position:relative;
	padding:2em 0;
	color:white;
	clear:both;
}

/* -----UTILITIES----- */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
