---
title: Weekly Events
layout: default
permalink: "weekly-events.html"
header: http://placehold.it/1800x914
---

<a class="tab tab-left{% if page.title == "Weekly Events" %} active{% endif %}" href="{{site.url}}/weekly-events">Weekly Events</a>
<a class="tab tab-right{% if page.title == "Upcoming Events" %} active{% endif %}" href="{{site.url}}/upcoming-events">Upcoming Events</a>

<div class="event-holder color">
<div class="container">
	<div class="event-left">
		<h3 class="event-name">PEDRO TORRES</h3>
		<h2>Fridays @ 7:30 PM</h2>
	</div>
	<div class="event-right">
		<img class="event-img" src="http://placehold.it/500x200">
	</div>
</div>
</div> 

<div class="event-holder">
<div class="container">
	<div class="event-left">
		<h3 class="event-name">LADIES' NIGHT</h3>
		<h2>Wednesdays @ 6 PM</h2>
	</div>
	<div class="event-right">
		<img class="event-img" src="http://placehold.it/500x200">
	</div>
</div>
</div>

<div class="event-holder color">
<div class="container">
	<div class="event-left">
		<h3 class="event-name">HAPPY HOUR</h3>
		<h2>Monday - Friday from 4 to 6 PM</h2>
	</div>
	<div class="event-right">
		<img class="event-img" src="http://placehold.it/500x200">
	</div>
</div>
</div>   





</div>