 <div style="margin: 0 auto 3.5em auto; text-align: center;">
<!-- <img src="images/mothersday.gif" style="max-width:900px; border: 2px solid black; border-radius:5px;"> -->
<h2 style="max-width:500px; margin:0 auto;">Cinque Terre Will Be Closed Monday, May 27th and Tuesday, May 28th in Observance of Memorial Day <!-- <a href="/mothersday.pdf" target="_blank" style="color:#07B5FF;">here</a>--></h2>
</div> 

<ul class="menu-links" id="loadspot">
	<li><a class="pink menu-link{% if page.title == "Weekly Events" %} active{% endif %}" href="{{site.url}}/weekly-events">WEEKLY EVENTS</a></li>
	<li><a class="blue menu-link{% if page.title == "Upcoming Events" %} active{% endif %}" href="{{site.url}}/upcoming-events">UPCOMING EVENTS</a></li>
</ul>