 <footer id="site-footer">
 <div class="foot-contain">
 	<div class="third">
 	<h3 class="footerhead">Location</h3>
 	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11582.917341187016!2d-73.37910615237021!3d40.83441332901489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e828d1de6eba5d%3A0xc13fb114606c3505!2sCinque+Terre+Ristorante!5e0!3m2!1sen!2sus!4v1437845868267" width="230" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
 	<p>872 East Jericho Tpke. <br/>
 	Huntington Station, NY 11746 <br/>
 	<span class="number">(631) 923-1255</p>
 	</div>
 	<div class="third">
 	</div>
 	<div class="third">
 	<h3 class="footerhead">Restaurant Hours</h3>
 		<div class="hours">
 			<div class="day">
 			Monday:<br/>
 			Tuesday:<br/>
 			Wednesday:<br/>
 			Thursday:<br/>
 			Friday:<br/>
 			Saturday:<br/>
 			Sunday:<br/>
 			</div>
 			<div class="time">
			12:00 pm - 10:00 pm<br/>
			12:00 pm - 10:00 pm<br/>
			12:00 pm - 10:00 pm<br/>
			12:00 pm - 10:00 pm<br/>
			12:00 pm - 11:00 pm<br/>
			1:00 pm - 11:00 pm<br/>
			1:00 pm - 9:00 pm<br/>
 			</div>
 		</div>
 	</div>
 </div>
 </footer>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type ="text/javascript" src="/js/enquire.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
 <script type="text/javascript" src="js/jquery.lightbox-0.5.min.js"></script>
</body>
</html>
