 <footer id="site-footer">
 <div class="foot-contain">
 	<div class="third">
 	<h3 class="footerhead">Location</h3>
 	</div>
 	<div class="third">
 	<h3 class="footerhead">Restaurant Hours</h3>
 		<div class="hours">
 			<div class="day">
 			Monday:<br/>
 			Tuesday:<br/>
 			Wednesday:<br/>
 			Thursday:<br/>
 			Friday:<br/>
 			Saturday:<br/>
 			Sunday:<br/>
 			</div>
 			<div class="time">
			12:00 pm - 10:00 pm<br/>
			12:00 pm - 10:00 pm<br/>
			12:00 pm - 10:00 pm<br/>
			12:00 pm - 10:00 pm<br/>
			12:00 pm - 11:00 pm<br/>
			1:00 pm - 11:00 pm<br/>
			1:00 pm - 9:00 pm<br/>
 			</div>
 		</div>

 	</div>
 	<div class="third">
 	<h3 class="footerhead">Contact</h3>
 	</div>
 </div>
 </footer>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type ="text/javascript" src="/js/enquire.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
