<header class="site-header cf">
    <div class="container">
        <a class="site-title" href="{{site.url}}"><img class="site-logo" src="images/cinqueLogo.gif" alt="Cinque Terre"></a>
        <img src="{{ page.header }}" alt="Cinque Terre Main Dining Room" class="header-image">
        <nav class="navbar">
            <ul class="header-nav">
                {% for nav in site.pages %}
                    {% if nav.title %}
                        <li><a class="nav-link{% if nav.title == page.title %} active{% endif %}" href="{{ nav.url }}">{{ nav.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <hr>
        </nav>
    </div> <!-- / container -->
</header><!-- / header -->
