<header class="site-header cf">
    <div class="container">
        <a class="site-title" href="{{site.url}}"><img class="site-logo" src="images/templogo.png" alt="Cinque Terre"></a>
        <nav class="navbar">
            <ul class="header-nav">
                <li><a class="nav-link" href="{{ site.url }}">Home</a></li>
                <li><a class="nav-link" href="{{ site.url }}/menu">Menu</a></li>
                <li><a class="nav-link" href="{{ site.url }}/about-us">About Us</a></li>
                <li><a class="nav-link" href="{{ site.url }}/directions">Directions</a></li>
            </ul>
        </nav>
    </div> <!-- / container -->
</header><!-- / header -->
