<header class="site-header cf">
        <a class="site-title" href="{{site.url}}"><img class="site-logo" src="images/cinqueLogo.gif" alt="Cinque Terre"></a>
        <img src="{{ page.header }}" alt="Cinque Terre Main Dining Room" class="header-image">
    <div class="container">
        <nav class="navbar">
            <ul class="header-nav">
                <li><a class="nav-link{% if nav.title == page.title %} active{% endif %}" href="{{site.url}}/about.html">ABOUT</a></li>
                <li><a class="nav-link{% if nav.title == page.title %} active{% endif %}" href="{{site.url}}/menu.html">MENUS</a></li>
                <li><a class="nav-link{% if nav.title == page.title %} active{% endif %}" href="{{site.url}}/catering.html">CATERING</a></li>
                <li><a class="nav-link{% if nav.title == page.title %} active{% endif %}" href="{{site.url}}/events.html">EVENTS</a></li>
                <li><a class="nav-link{% if nav.title == page.title %} active{% endif %}" href="{{site.url}}/gallery.html">GALLERY</a></li>
                <li><a class="nav-link{% if nav.title == page.title %} active{% endif %}" href="{{site.url}}/press.html">PRESS</a></li>
                <li><a class="nav-link{% if nav.title == page.title %} active{% endif %}" href="{{site.url}}/find-us.html">FIND US</a></li>
                <li><a class="nav-link{% if nav.title == page.title %} active{% endif %}" href="{{site.url}}/contact.html">CONTACT</a></li>

            </ul>
            <hr>
        </nav>
    </div> <!-- / container -->
</header><!-- / header -->
