<header class="site-header cf">
    <div class="header-bar">
        <a class="site-title" href="http://cinqueterreli.github.io"><img class="site-logo" src="images/cinqueLogo.gif" alt="Cinque Terre"></a>
        <nav class="navbar">
            <ul class="header-nav">
                <li><a class="nav-link one{% if page.title == "About" %} active{% endif %}" href="{{site.url}}/about">ABOUT</a></li>
                <li><a class="nav-link two dropdown-link{% if page.title == "Dinner Menu" or page.title == "Lunch Menu" or page.title == "Bar Menu" %} active{% endif %}" href="{{site.url}}/dinner-menu">MENUS</a></li>
                <ul class="dropdown-menu">
                        <li><a class="sub-link" href="{{site.url}}/lunch-menu">LUNCH</a></li>
                        <li><a class="sub-link" href="{{site.url}}/dinner-menu">DINNER</a></li>
                        <li><a class="sub-link" href="{{site.url}}/thanksgiving">THANKSGIVING</a></li>
                </ul>
                <li><a class="nav-link three{% if page.title == "Catering" %} active{% endif %}" href="{{site.url}}/catering">CATERING</a></li>
                <li><a class="nav-link one{% if page.title == "Events" %} active{% endif %}" href="{{site.url}}/weekly-events">EVENTS</a></li>
                <li><a class="nav-link two{% if page.title == "Gallery" %} active{% endif %}" href="{{site.url}}/gallery">GALLERY</a></li>
                <li><a class="nav-link three{% if page.title == "Press" %} active{% endif %}" href="{{site.url}}/press">PRESS</a></li>
                <li><a class="nav-link one{% if page.title == "Reservations" %} active{% endif %}" href="{{site.url}}/reservations">RESERVATIONS</a></li>
            </ul>
            </nav>
            <img class="hamburger" src="/images/hamburger.png">
            <img class="x" src="/images/x.png">
            <ul class="mobile-nav">
                <li><a class="mobile-nav-link pink{% if page.title == "About" %} active{% endif %}" href="{{site.url}}/about">ABOUT</a></li>
                <li><a class="mobile-nav-link blue{% if page.title == "Menus" %} active{% endif %}" href="{{site.url}}/dinner-menu">MENUS</a></li>
                <li><a class="mobile-nav-link orange{% if page.title == "Catering" %} active{% endif %}" href="{{site.url}}/catering">CATERING</a></li>
                <li><a class="mobile-nav-link blue{% if page.title == "Events" %} active{% endif %}" href="{{site.url}}/weekly-events">EVENTS</a></li>
                <li><a class="mobile-nav-link pink{% if page.title == "Gallery" %} active{% endif %}" href="{{site.url}}/gallery">GALLERY</a></li>
                <li><a class="mobile-nav-link orange{% if page.title == "Press" %} active{% endif %}" href="{{site.url}}/press">PRESS</a></li>
                <li><a class="mobile-nav-link blue{% if page.title == "Reservations" %} active{% endif %}" href="{{site.url}}/reservations">RESERVATIONS</a></li>
            </ul>
    </div>
        <img src="{{ page.header }}" alt="Cinque Terre Main Dining Room" class="header-image">
        <a href="#site-footer" class="location-link">Location &amp; Hours</a>
        <div class="slider">
            <div class="slide">
                <div class="slide-block">
                <h3>Thanksgiving Dinner</h3>
                <p class="promo-text">Join us for a Traditional Thanksgiving Dinner, or come enjoy some of our signature dishes!</p>
                </div>
                <div class="slide-block">
                <h3>Christmas Dinner</h3>
                <p class="promo-text">Cinque Terre will be open for Christmas Day and Christmas Eve!</p>
                </div>
            </div>
            <div class="slide">
                <div class="slide-block">
                <h3>New Year's Eve Gala</h3>
                <p class="promo-text">Ring in 2016 with us! Our 9 PM seating includes a buffet, open bar, a live DJ and dancing, and much more!</p>
                </div>
                <div class="slide-block">
                <h3>New Year's Day Brunch</h3>
                <p class="promo-text">Enjoy a mouthwatering brunch buffet from 11 AM - 3 PM on New Year's Day!</p>
                </div>
            </div>
        </div>
</header><!-- / header -->