<header class="site-header cf">
    <div class="header-bar">
        <a class="site-title" href="http://cinqueterreli.github.io"><img class="site-logo" src="images/cinqueLogo.gif" alt="Cinque Terre"></a>
        <nav class="navbar">
            <ul class="header-nav">
                <li><a class="nav-link one{% if page.title == "About" %} active{% endif %}" href="{{site.url}}/about">ABOUT</a></li>
                <li><a class="nav-link two{% if page.title == "Dinner Menu" or page.title == "Lunch Menu" or page.title == "Bar Menu" %} active{% endif %}" href="{{site.url}}/dinner-menu">MENUS</a></li>
                <li><a class="nav-link three{% if page.title == "Catering" %} active{% endif %}" href="{{site.url}}/catering">CATERING</a></li>
                <li><a class="nav-link one{% if page.title == "Events" %} active{% endif %}" href="{{site.url}}/weekly-events">EVENTS</a></li>
                <li><a class="nav-link two{% if page.title == "Gallery" %} active{% endif %}" href="{{site.url}}/gallery">GALLERY</a></li>
                <li><a class="nav-link three{% if page.title == "Press" %} active{% endif %}" href="{{site.url}}/press">PRESS</a></li>
            </ul>
            </nav>
            <img class="hamburger" src="/images/hamburger.png">
            <img class="x" src="/images/x.png">
            <ul class="mobile-nav">
                <li><a class="mobile-nav-link pink{% if page.title == "About" %} active{% endif %}" href="{{site.url}}/about">ABOUT</a></li>
                <li><a class="mobile-nav-link blue{% if page.title == "Menus" %} active{% endif %}" href="{{site.url}}/dinner-menu">MENUS</a></li>
                <li><a class="mobile-nav-link orange{% if page.title == "Catering" %} active{% endif %}" href="{{site.url}}/catering">CATERING</a></li>
                <li><a class="mobile-nav-link blue{% if page.title == "Events" %} active{% endif %}" href="{{site.url}}/weekly-events">EVENTS</a></li>
                <li><a class="mobile-nav-link pink{% if page.title == "Gallery" %} active{% endif %}" href="{{site.url}}/gallery">GALLERY</a></li>
                <li><a class="mobile-nav-link orange{% if page.title == "Press" %} active{% endif %}" href="{{site.url}}/press">PRESS</a></li>
            </ul>
    </div>
        <img src="{{ page.header }}" alt="Cinque Terre Main Dining Room" class="header-image">
        <a href="#site-footer" class="location-link">Location &amp; Hours</a>
        <div class="social-box">
        <a href="#"><img src="/images/facebook42.png" class="social-icon"></a>
        <a href="#"><img src="/images/instagram42.png" class="social-icon"></a>
        <a href="#"><img src="/images/twitter42.png" class="social-icon"></a>
        </div>
</header><!-- / header -->