<header class="site-header cf">
    <div class="header-bar">
        <a class="site-title" href="http://cinqueterreli.github.io"><img class="site-logo" src="images/cinqueLogo.gif" alt="Cinque Terre"></a>
        <nav class="navbar">
            <ul class="header-nav">
                <li><a class="nav-link one{% if page.title == "About" %} active{% endif %}" href="{{site.url}}/about">ABOUT</a></li>
                <li><a class="nav-link two{% if page.title == "Dinner Menu" or page.title == "Lunch Menu" or page.title == "Bar Menu" %} active{% endif %}" href="{{site.url}}/dinner-menu">MENUS</a></li>
                <li><a class="nav-link three{% if page.title == "Catering" %} active{% endif %}" href="{{site.url}}/catering">CATERING</a></li>
                <li><a class="nav-link one{% if page.title == "Events" %} active{% endif %}" href="{{site.url}}/weekly-events">EVENTS</a></li>
                <li><a class="nav-link two{% if page.title == "Gallery" %} active{% endif %}" href="{{site.url}}/gallery">GALLERY</a></li>
                <li><a class="nav-link three{% if page.title == "Press" %} active{% endif %}" href="{{site.url}}/press">PRESS</a></li>
                <li><a class="nav-link one{% if page.title == "Reservations" %} active{% endif %}" href="{{site.url}}/reservations">RESERVATIONS</a></li>
            </ul>
            </nav>
            <img class="hamburger" src="/images/hamburger.png">
            <img class="x" src="/images/x.png">
            <ul class="mobile-nav">
                <li><a class="mobile-nav-link pink{% if page.title == "About" %} active{% endif %}" href="{{site.url}}/about">ABOUT</a></li>
                <li><a class="mobile-nav-link blue{% if page.title == "Menus" %} active{% endif %}" href="{{site.url}}/dinner-menu">MENUS</a></li>
                <li><a class="mobile-nav-link orange{% if page.title == "Catering" %} active{% endif %}" href="{{site.url}}/catering">CATERING</a></li>
                <li><a class="mobile-nav-link blue{% if page.title == "Events" %} active{% endif %}" href="{{site.url}}/weekly-events">EVENTS</a></li>
                <li><a class="mobile-nav-link pink{% if page.title == "Gallery" %} active{% endif %}" href="{{site.url}}/gallery">GALLERY</a></li>
                <li><a class="mobile-nav-link orange{% if page.title == "Press" %} active{% endif %}" href="{{site.url}}/press">PRESS</a></li>
                <li><a class="mobile-nav-link blue{% if page.title == "Reservations" %} active{% endif %}" href="{{site.url}}/reservations">RESERVATIONS</a></li>
            </ul>
    </div>
        <img src="{{ page.header }}" alt="Cinque Terre Main Dining Room" class="header-image">
        <a href="#site-footer" class="location-link">Location &amp; Hours</a>


        <div id="slideout">
        <img src="/images/blacktab.gif" class="slideout-tab" alt="arrow" />
        <div id="slideout_inner">
        <!-- <h2 class="sidebar-head">What's Happening?</h2> -->

        <!-- <h3 class="sidebar-event">INDEPENDENCE DAY</h3>
        <p class="sidebar-des" style="margin-bottom:0;">Cinque Terre will be closed on Sunday, July 3rd and Monday July 4th for Independence Day. Have a great weekend!</p> -->

        <h3 class="sidebar-event" id="comedy">THANKSGIVING</h3>
        <p class="sidebar-des" id="paintnite" style="margin-bottom:0;">Reserve your table for Thanksgiving today! Mouthwatering, oven-roasted Turkey and other seasonal specials!</p>
        <p class="button-style" style="margin-top:.5em;">
        <a class="button-link pink" style="margin-bottom:.5em; font-size:1.2em;" href="/thanksgivingMenu.pdf" target="_blank">View Menu</a></p>

        <h3 class="sidebar-event" id="paintnite">PAINT NITE</h3>
        <p class="sidebar-des" id="paintnite" style="margin-bottom:0;">Cinque Terre will be hosting Paint Nites on Thursday, Nov 17th and Wednesday, Dec 7th! Join us and create your very own masterpiece!</p>
        <p class="button-style" style="margin-top:.5em;">
        <a class="button-link blue" style="margin-bottom:.5em; font-size:1.2em;" href="http://cinqueterreli.com/upcoming-events#paintnite1">More Info</a></p>


        <div id="ladiesnight">
        <h3 class="sidebar-event" style="margin-top:1em">IT'S LADIES' NIGHT!</h3>
        <p class="sidebar-des">Join us and our house DJ in the bar and lounge for drinks and dancing! Starting at 6PM, all drinks are half-priced at the bar for ladies!</p>
        </div>

        <div id="karaoke">
        <h3 class="sidebar-event" style="margin-top:1em">KARAOKE TONIGHT!</h3>
        <p class="sidebar-des">Join us in the bar at 8PM and sing all of your favorite tunes!</p>
        </div>


        <div id="pedrotorres">
        <h3 class="sidebar-event" style="margin-top:1em">PEDRO TORRES TONIGHT!</h3>
        <p class="sidebar-des">Party with us as our house entertainer grabs the mic and sings all your favorite hits! Starts at 7PM.</p>
        </div>

        </div>
        </div>

        <!-- <div class="mobile-announcement">
        <h4>Cinque Terre will be closed on Sunday, July 3rd and Monday July 4th for Independence Day. Have a great weekend!</h4></div> -->

</header><!-- / header -->