<div class="homepage-announcement" style="padding:0;">
<p class="blurb-wrap" style="text-indent:0;">
		<a href="/mothersDay.pdf" target="_blank" class="body-link">Mother's Day Takeout Menu</a><br />
		<a href="/familyDinnerMenu.pdf" target="_blank" class="body-link">Family Dinner Takeout Menu</a><br />
		<a href="/cinqueGiorniMenu.pdf" target="_blank" class="body-link">3 Course Menu</a><br />
		<a href="/barMenu.pdf" target="_blank" class="body-link">Bar Menu</a><br />
		<a href="/dinnerTakeoutMenu.pdf" target="_blank" class="body-link">Dinner Takeout Menu</a><br />
		<a href="/offPremiseCatering.pdf" target="_blank" class="body-link">Off Premise Catering Menu</a></p>
</div>

<ul class="menu-links" id="loadspot">
	<li><a class="pink menu-link{% if page.title == "Lunch Menu" %} active{% endif %}" href="{{site.url}}/lunch-menu">LUNCH</a></li>
	<li><a class="blue menu-link{% if page.title == "Dinner Menu" %} active{% endif %}" href="{{site.url}}/dinner-menu">DINNER</a></li>
	<li><a class="orange menu-link{% if page.title == "Bar Menu" %} active{% endif %}" href="{{site.url}}/bar-menu">BAR</a></li>
</ul>

